<div class="revealButton hiddenClue actorClues" (click)="nextClue()"
     *ngIf="!result.completed && !result.noMoreClues && !showClue && (result.points && result.points.length < 5)">
  <div class="revealImage">
    <img src="https://m.media-amazon.com/images/M/MV5BMTkxNzQ0ODgxOV5BMl5BanBnXkFtZTcwMTAxMDY0Mg@@._V1_UY317_CR11,0,214,317_AL_.jpg">
  </div>
  <div class="revealText">
    <h3>Reveal Actor</h3>
  </div>
</div>
<div class="revealButton" *ngIf="showClue">
  <div class="revealImage">
    <img [src]="revealedClue.avatar">
  </div>
  <div class="revealText">
    <h3>{{revealedClue.name}}</h3>
  </div>
</div>
<mat-progress-bar class="progress" *ngIf="showClue" mode="determinate" [value]="progressValue"></mat-progress-bar>
