.clue{
  width: 30%;
  margin:10px 1%;
  display: inline-block;
  text-align: center;
}

.clueImage{
  width:80px;
  height: 80px;
  overflow: hidden;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
}

.clueImage img{
  width:100%;
  height: auto;
  margin-top:-5px;
}
