VITE_FIREBASE_API_KEY=AIzaSyA13NVzJSF58YSNjrj2pbO5cJMKWhhT2Gw
VITE_FIREBASE_AUTH_DOMAIN=cluvie-509e6.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cluvie-509e6
VITE_FIREBASE_STORAGE_BUCKET=cluvie-509e6.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=507890081029
VITE_FIREBASE_APP_ID=1:507890081029:web:b8c43ba80bb66cd2c72b6c
VITE_FIREBASE_MEASUREMENT_ID=G-RL9Z77WH22
VITE_QUIZZES_COLLECTION=quizzes
VITE_MOVIES_INDEX_URL=https://storage.googleapis.com/cluvie-509e6.appspot.com/movies.json