#guesses{
  border-bottom: none;
}

.guessForm{
  margin-top: 20px;
  margin-bottom: 20px;
}
.guessField{
  height: 65px;
  border-radius: 60px;
  display: block;
  border:1px solid #CBCBCB;
  background: #FFF;
  font-size:20px;
  width: 92%;
  padding: 0 4%;
  font-family: arial;
  margin-bottom: 10px;
  -webkit-appearance: none;
}

.guessField::placeholder{
  color:#B4B4B4
}

.guessButton{
  height: 65px;
  border-radius: 60px;
  display: block;
  background: #969696;
  font-size:20px;
  width: 100%;
  padding: 0;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  border:none;
  -webkit-appearance: none;
  cursor: pointer;
  transition: background 0.25s ease;
}

.guessButton:hover{
  background: #F7B913;
}

.active {
  background: #F7B913;
}
