<div class="guessForm">
    <input class="guessField" [formControl]="myControl"
           [matAutocomplete]="auto"type="text" placeholder="Start typing and select from list.."
    >
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addValue($event.option.value)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        <!--<img matListAvatar [src]="option.image" width="25" height="25"/>-->
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  <input [class]="isButtonActive ? 'active guessButton' : 'guessButton'"
         type="button"
         value="Submit Guess" (click)="add()">
</div>
