<div fxLayout="row" fxLayoutAlign="end">
  <mat-icon (click)="ok()" class="clickable">close</mat-icon>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="intro">
  <div fxLayout="column">
    <h1 fxLayout="row" fxLayoutAlign="center center">How To Play</h1>
    <br/>
    <p>Guess the <strong>Movie of the Day</strong> in <span class="underscore">six</span> tries or less.</p>
    <br/>
    <p>Reveal “clues” (actors who appeared in the film) if you need a hint. </p>
    <br/>
    <p>But be careful! Every hint you reveal will cost you one of your guesses! </p>
    <br/>
    <p>A new <strong>Cluevie</strong> will be available each day!</p>
  </div>
</div>
