<section id="guesses" *ngIf="result.guesses && result.guesses.length > 0">
  <div class="content">
  <h6 fxLayout="row" fxLayoutAlign="center">Previous Guesses:</h6>
  <div class="guessHolder">
    <div class="missedGuess" *ngFor="let guess of result.guesses; let i = index;">
        <span *ngIf="!(result.completed && i == result.guesses.length -1 && result.outcome == 0)">
          <img src="assets/incorrect.png" alt="Incorrect Guess" align="absmiddle"> {{guess.name}}
        </span>
    </div>
  </div>
  </div>
</section>

